@using ScrumPoker.Models;
@using ScrumPoker.Services;
@using ScrumPoker.ViewModels.Poker;
@model PokerVm

@if (ScrumMasterSvc.IsScrumMaster(User.Identity.Name))
{
    <hr />
    using (Html.BeginForm("AddProject", "Poker"))
    {
        if (Model.Projects != null && Model.Projects.Count > 0)
        {
            SelectList list = new SelectList(Model.Projects.OrderBy(m => m.ProjectName), "id", "ProjectName", Model.ProjectId.ToString());
            <div>
                <h3>@Html.Label("Choose Project")</h3>
            </div>
            <div>
                @Html.DropDownList("projectList", list, new {@class="scrumMaster" })
            </div>
            <div>
                <input type="submit" value="Vote on this Project" class="scrumMaster"/>
            </div>
        }<br />
    }
    if (Model.ProjectId > 0)
    {       <h3>@Model.ProjectName Team Members</h3>
        using (Html.BeginForm("AddUser", "Poker", FormMethod.Post))
        {            
                <input type="text" id="userName" name="userName" class="scrumMaster" />
                <input type="submit" value="Add Team Member" class="scrumMaster"/>
        }
        @Html.ActionLink("View Final Votes", "Index", "FinalVote", new { id = Model.ProjectId }, new {})
    }
}