@using ScrumPoker.Models;
@using ScrumPoker.Services;
@using ScrumPoker.ViewModels.Poker;
@model PokerVm

@if (ScrumMasterSvc.IsScrumMaster(User.Identity.Name))
{
    <hr />
    using (Html.BeginForm("AddProject", "Poker"))
    {
        if (Model.Projects != null && Model.Projects.Count > 0)
        {
            SelectList list = new SelectList(Model.Projects, "id", "ProjectName", Model.Projects.First().id);
            <div>
                @Html.Label("Choose Project")
            </div>
            <div>
                @Html.DropDownListFor(model => Model.Projects, list)
            </div>
            <div>
            @if (Model.ProjectId > 0)
            {
                <div>
                    @Html.ActionLink(Url.Action("Vote", "Poker", new { @id = Model.ProjectId }, "http"), "Vote", "Poker", new { @id = Model.ProjectId })
                </div>
            }
            </div>
            <div>
                <input type="submit" value="Add Project"/>
            </div>
        }<br />
    <hr />        
        using (Html.BeginForm("AddUser", "Poker", FormMethod.Post))
        {
    <br /><br />

        }<br />
    <input type="text" id="userName" name="userName" /><input type="submit" value="Add User"/>
    <br />    
    }
}