    @using ScrumPoker;
    @using ScrumPoker.Models;   
    <hr />
    <table id="tblVotes">
            <thead>
                @{int colorCounter = 0;
                List<TaskEstimate> taskEstimates = TaskEstimates.GetEstimateList();  
                taskEstimates.Sort(delegate(TaskEstimate T1, TaskEstimate T2)
                {
                    return T1.Estimate.CompareTo(T2.Estimate);
                }); //Sort
                }
              
                @foreach (var taskEstimate in taskEstimates)
                {
                    <td>@taskEstimate.Name</td>
                }
                    
            </thead>
            <tbody>
                <tr>
                @foreach (var taskEstimate in taskEstimates)
                {
                    int colorIndex = colorCounter % 8;
                    <td style="height:40px;font-size:xx-large;text-align:center;background-color:@ViewBag.Colors[colorIndex]">@taskEstimate.Estimate</td>
                    colorCounter += 1;
                }
                </tr>
            </tbody>
    </table>
     
 