@{
    ViewBag.Title = "Scrum Poker";
    int colorCounter = 0;
}

<h2>Poker</h2>

@using (Html.BeginForm("Poker", "Home", FormMethod.Post))
{
        <br />
        <div>
    @Html.TextBox("firstName", (string)ViewBag.FirstName, new { id = "firstName" })
    </div>
    <br />    
    <div>
    @Html.TextBox("estimate", (string)ViewBag.estimate, new { id = "estimate", @style = "width:35px; background-color:red;font-size: xx-large;" })
    
    <input type="submit" value="Submit"/>
    </div>
    <hr />
    if (ViewBag.Estimates != null)
    {
        <table border="1">
            <thead>
            @foreach (var taskEstimate in ViewBag.Estimates)
            {
                <td>@taskEstimate.Name</td>
            }
            </thead>
            <tr>
            @foreach (var taskEstimate in ViewBag.Estimates)
            {
                int colorIndex = colorCounter % 5;
                <td style="height:40px;font-size:xx-large;text-align:center;background-color:@ViewBag.Colors[colorIndex]">@taskEstimate.Estimate</td>
                colorCounter += 1;
            }
            </tr>
    </table>
}
    

}
